.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #672280,#A626D3); 
  }
  .image{
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
  .navbar h1{
    margin-right: 20px;
  }